In [1]:
#pandas library
import pandas as pd

a_df = pd.DataFrame([[1,2,3],[2,4,5],[5,6,7]])
print(a_df)

   0  1  2
0  1  2  3
1  2  4  5
2  5  6  7

In [2]:
import numpy as np
b_df = pd.DataFrame(np.random.random((3,3)))
print(b_df)

          0         1         2
0  0.555603  0.007755  0.140987
1  0.944870  0.729915  0.058183
2  0.421080  0.975252  0.239345

In [3]:
#in pandas we have Series, DataFrame and ...types of data structures
dic = {"a":"rns","b":"rkr","c":"rrb"}
series_panda = pd.Series(dic)
print(series_panda)

a    rns
b    rkr
c    rrb
dtype: object

In [4]:
info = {'name':['rkr', 'rnr', 'rrb'], 'age':[28, 26, 59]}
pandas_series_info = pd.Series(info)
pandas_df_info = pd.DataFrame(info, index=['rank1','rank2','rank3'])

#pandas_df_info_2 = pd.DataFrame(info, index=['rank1','rank2','rank3'], columns=['NAME','AGE']) #doesn't work

print(pandas_series_info)
print(pandas_df_info)

#print(pandas_df_info_2)

name    [rkr, rnr, rrb]
age        [28, 26, 59]
dtype: object
      name  age
rank1  rkr   28
rank2  rnr   26
rank3  rrb   59

In [5]:
#accessing pandas data using loc and iloc indexes
print(pandas_df_info.loc['rank1'])
print("\n",pandas_df_info.iloc[1])
print("\n",pandas_df_info[0:2])

print("\n",pandas_df_info[:]['age'])

name    rkr
age      28
Name: rank1, dtype: object

 name    rnr
age      26
Name: rank2, dtype: object

       name  age
rank1  rkr   28
rank2  rnr   26

 rank1    28
rank2    26
rank3    59
Name: age, dtype: int64

In [6]:
#appending a column and pop it.....
pandas_df_info["added"]= 10 +pandas_df_info["age"]
print(pandas_df_info)

pandas_df_info.pop('added')   # pop() for column and drop() for rows
print(pandas_df_info)

      name  age  added
rank1  rkr   28     38
rank2  rnr   26     36
rank3  rrb   59     69
      name  age
rank1  rkr   28
rank2  rnr   26
rank3  rrb   59

In [14]:
#appending a row and drop it...
app_dic = {'name':'rss','age':70}
app_df = pd.DataFrame(app_dic, index=['rank4'])  #index =[row naming], column=[column naming]
pandas_df_info=pandas_df_info.append(app_df)
print(app_df)
print(pandas_df_info)

      name  age
rank4  rss   70
      name  age
rank1  rkr   28
rank2  rnr   26
rank3  rrb   59
rank5  rss   70
rank4  rss   70

In [18]:
pandas_df_info=pandas_df_info.drop(index=['rank5']) # (or just) pandas_df_info.drop('rank5')
print(pandas_df_info)

      name  age
rank1  rkr   28
rank2  rnr   26
rank3  rrb   59
rank4  rss   70

In [23]:
# pandas PANEL::: 3D container

#d = np.random.random((4,5))
#dframe = pd.Panel(d)
#print("panel details are: \n")
#print(dframe)
#--------------------------------------------------------------------------------------------------------------------
#o/p
#C:\Users\Admin\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
#  This is separate from the ipykernel package so we can avoid doing imports until
#----------------------------------------------------------------------------------------------------------------------

In [27]:
print("Head \n",pandas_df_info.head(2),"\n")           # customised top and botom display
print("Tail \n",pandas_df_info.tail(1))

Head
       name  age
rank1  rkr   28
rank2  rnr   26

Tail
       name  age
rank4  rss   70

In [31]:
#Transpose, size
print(pandas_df_info.T)
print("\n Total number of elements in pandas:",pandas_df_info.size)

     rank1 rank2 rank3 rank4
name   rkr   rnr   rrb   rss
age     28    26    59    70

 Total number of elements in pandas: 8

In [36]:
print(pandas_df_info.sum(axis=0)) #sum of all rows
print(pandas_df_info.sum(axis=1))  #sum of all columns and similarly mean(), std(), median()....

name    rkrrnrrrbrss
age              183
dtype: object
rank1    28
rank2    26
rank3    59
rank4    70
dtype: int64

In [37]:
pandas_df_info.describe()

            age
count   4.00000
mean   45.75000
std    22.12653
min    26.00000
25%    27.50000
50%    43.50000
75%    61.75000
max    70.00000